@page "/Pedido"
@inject ICarrinhoCompraService service;
@inject NavigationManager  Nav;
<h3>Pedidos</h3>

<Ordertracking />

<div class="accordion accordion-flush" id="accordionFlushExample">

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Detalhes do Pedido
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">

                <div class="row mb-5" style="background-color:white">
                    <div class="col-md-9">
                        @foreach (var item in CarrinhoCompraItens)
                        {

                            <img src="@item.ProdutoImagemURL" width="250" class="img-thumbnail">


                            <h5>@item.ProdutoNome</h5>

                            @item.ProdutoDescricao

                             <b>@item.Preco.ToString("C")</b>


                        }
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



@code {



    public List<CarrinhoItemDto>? CarrinhoCompraItens = new List<CarrinhoItemDto>();


    protected override async Task OnInitializedAsync()
    {
        CarrinhoCompraItens = await service.GetItens("1");
        

    }
  
}
